.wrapper { 
    display: block;
    width:960px;
    margin:0 auto;
    background:#ccc;
}
nav{
   width:960px; 
   clear:both;
}
nav ul{
   width:960px; 
   padding:0;
   background: rgb(233, 34, 34);
   height:32px;
   margin:0;
}
nav ul li{
   float:left;
   list-style: none;
   text-align: center;
   height:32px;
}
nav ul li:hover{
   background:#ddd;
}
nav ul li a{
   display:inline-block;
   color:white;
   width:100px;
   padding:5px 10px;
   text-decoration: none;
   text-align: center;
}
nav ul li ul{
   display:none;
}
nav ul li:hover ul{
   display:block;
   width:100px;
}
nav ul li:hover ul li{
   display:block;
   width:150px;
   float:none!important;
   text-align: left;
   height:20px;
}

h1{
    text-align: center;
}

.forum{
    width:90%;
    margin:10px auto 0;
}
.forum tr th{
    width:80%;
    padding:10px;
}
.forum tr th + th{
    width:20%;
}
.forum tr td{
    padding:10px;
}
.forum tr td + td{
}