.wrapper { 
    display: block;
    width:960px;
    margin:0 auto;
    background:#ccc;
    font-family: Arial;
}
header{
    position:relative;
    z-index: 2;
}
.content{
    padding:0 15px;
    position:relative;
    z-index:1;
}
nav{
    clear:both;
    background:red;
    height:32px;
}
nav ul{
    display:block;
    width:960px;
    height:27px;
    padding:0;
}
nav ul + ul{
    float:right;
    width:350px;
}
nav ul li{
    list-style:none;
    height:32px;
    background:red;
    float:left;
    position:relative;
}
nav ul li:hover{
    background:#ddd;
}
nav ul li a{
    display:inline-block;
    height:27px;
    color:white;
    text-align: center;
    padding:5px 10px 0 10px;
    text-decoration: none;
}
nav ul li ul{
    display:none;
    width:104px;
}
nav ul li:hover ul{
    display:block;
    position:absolute;
    top:32px;
    left:0;
}
nav ul li:hover ul li{
    float:none;
}

h1{
    text-align: center;
}

.forum{
    width:100%;
    margin:10px auto 0;
}
.forum tr th{
    width:80%;
    padding:10px;
}
.forum tr th + th{
    width:20%;
}
.forum tr td{
    padding:10px;
}
.forum tr td + td{
}
.forum2{
    width:100%;
    margin:10px auto 0;
}
.forum2 tr th{
    width:40%;
    padding:10px;
}
.forum2 tr th + th{
    width:15%;
}
.forum2 tr td.status{
    width:25px!important;
}
.forum2 tr td.subject{
    width:100%;
    text-align: left;
}
.forum2 tr td{
    padding:10px;
    text-align: center;
}
.forum2 tr td a{
    color:black;
}
.forum2 tr td + td{
}
.forum2 tr td.legend{
}
.forum2 tr td.legend div{
    float:left;
    font-size:11px;
    padding-left:30px;
    margin-right:10px;
    height:23px;
    width:auto;
    border-right:none;
}

.search{
    border:1px solid black;
}
.search .contenue{
    display:none;
}
.uptodate{
    background:url(../images/forum/forum_unread.gif) 0 0 no-repeat;
    width:23px;
    height:23px;  
    float:left;
}
.needRead{
    background:url(../images/forum/forum_read.gif) 0 0 no-repeat;
    width:23px;
    height:23px;
    float:left;
}
.closed{
    background:url(../images/forum/forum_closed.png) 0 0 no-repeat;
    width:23px;
    height:23px;
    float:left;
}

.accordeon{
    margin:5px 0;
}
.accordeon .nom{
    background:url(../images/evenement/fleche.png) center right no-repeat;
    cursor:pointer;
}
.accordeon.expanded .nom{
    background:url(../images/evenement/flecheExp.png) center right no-repeat;
}