wrapper { 
    display: block;
}
nav{
    
}
#logo{
    display: inline-block;
    width: 600px;
    height: 148px;
}
#connexion{
    display:inline-block;
    width: 360px;
    height:148px;
}

