#logo{
    display: inline-block;
    float: left;
}
#connexion{
    display:inline-block;
    width: 330px;
    height:118px;
    float: right;
    text-align: right;
    padding: 15px;
}
#reglement li{
    margin-top: 10px;
}
.nom{
    border: 1px;
    border-style: solid;
}
.nom img{
    float: right;
}
.date{
    float: right;
}
.evenement img{
    float: left;
    width: 95px;
    height: 115px;
    margin-right:10px;
}
.personne{
    margin-top: 40px;
}
.personne img{
    width: 95px;
    height: 90px;
}
#coordonnee img{
    margin-top:15px;
}
#affiche_evenement{
    float: left;
    width: 95px;
    height: 115px;
    margin-right:10px;
}
#titre_evenement{
    display: inline-block;
    float: left;
    font-size: 1.2em;
}
.clear{
    clear: both;
}
#condition{
    border:1px solid black;
    overflow:auto;
    height:150px;
    text-align: justify;
}
.descPhoto{
    text-align:center;
    width:100px;
    float:left;
}
.descPhoto span{
    display: block;
}
#creation{
    margin-left: 180px;
}
.formulaire #nomClan{
    margin-left:50px;
}
.formulaire #champNom,
.formulaire #prenom{
    margin-left:9px;
}
.formulaire #email,
.formulaire #champEmail,
.formulaire #avatar,
.formulaire #nomClan,
.formulaire #champNomClan,
.formulaire .selectClan,
.formulaire #choixNomClan,
.formulaire #choisirAvatar{
    margin-top:10px;
}
.formulaire #choisirAvatar{
    margin-left:20px;
}
.formulaire #soumettreInscription{
    margin-top:30px;
}
#place{
    border: 1px solid white;
    
}
#imageReservation{
    text-align: center;
}
#libre,
#reserver,
#organisateur,
#lblLibre,
#lblReserver,
#lblOrganisateur,
#champReserver,
#lblChampReserver{
    margin-top:10px;
    margin-right:10px;
}
.finish{
    margin-top:30px;
}
#inscrireEvenement{
    margin-right:30px;
}
#inscrire{
    margin-right:60px;
}