wrapper { 
    display: block;
}
#logo{
    display: inline-block;
    width: 596px;
    height: 148px;
}
#connexion{
    display:inline-block;
    width: 330px;
    height:148px;
    float: right;
    text-align: right;
    padding: 15px;
}

