#logo{
    width:324px;
    height:192px;
    margin-left:10px;
    margin-top:5px;
}
.nom{
    background:url(../images/general/classNomBg.jpg) 0 0 no-repeat;
    width:914px;
    height:22px;
    padding:9px 10px 5px;
    font-weight:bold;
    font-size:16px;
    border:none;
    margin-bottom:15px;
    margin-top:15px;
}
.nom.step1{
    background:url(../images/general/classNomStep1.jpg) 0 0 no-repeat;
}
.nom.step2{
    background:url(../images/general/classNomStep2.jpg) 0 0 no-repeat;
}
.nom.step3{
    background:url(../images/general/classNomStep3.jpg) 0 0 no-repeat;
}
.accordeon .nom{
    background:url(../images/general/classNomBgAccorClose.jpg) 0 0 no-repeat;
}
.accordeon.expanded .nom{
    background:url(../images/general/classNomBgAccorOpen.jpg) 0 0 no-repeat;
}
body{
    background:#4e4e4e;
    color:white;
    padding:0;
    margin:0;
}
a{
    color:white;
}
.wrapper { 
    display: block;
    width:960px;
    margin:0 auto;
    background:#343434;
    font-family: Arial;
}
header{
    position:relative;
    z-index: 2;
    background:url(../images/header/headerBg.jpg) 0 0 no-repeat;
    height:238px;
}
.content{
    padding:0 15px;
    position:relative;
    z-index:1;
}
nav{
    clear:both;
    background:#d30000;
    height:32px;
    position:absolute;
    top:205px;
    width:960px;
}
nav ul{
    display:block;
    width:610px;
    height:27px;
    padding:0;
    margin:0;
    float:left;
}
nav ul + ul{
    float:right;
    width:225px;
}
nav ul + ul.userDoc{
    float:right;
    width:125px;
}
nav ul li{
    list-style:none;
    height:32px;
    background:#d30000;
    float:left;
    position:relative;
}
nav ul li:hover{
    background:#ad0c0c;
}
nav ul li a{
    display:inline-block;
    height:27px;
    color:white;
    text-align: center;
    padding:5px 10px 0 10px;
    text-decoration: none;
}
nav ul li ul{
    display:none;
    width:104px;
}
nav ul li:hover ul{
    display:block;
    position:absolute;
    top:32px;
    left:0;
}
nav ul li:hover ul li{
    float:none;
}

h1{
    text-align: center;
}

.forum{
    width:100%;
    margin:10px auto 0;
}
.forum tr th{
    width:80%;
    padding:10px;
}
.forum tr th + th{
    width:20%;
}
.forum tr td{
    padding:10px;
}
.forum tr td + td{
}
.forum2{
    width:100%;
    margin:10px auto 0;
}
.forum2 tr th{
    width:40%;
    padding:10px;
}
.forum2 tr th + th{
    width:15%;
}
.forum2 tr td.status{
    width:25px!important;
}
.forum2 tr td.subject{
    width:100%;
    text-align: left;
}
.forum2 tr td{
    padding:10px;
    text-align: center;
}

.forum2 tr td + td{
}
.forum2 tr td.legend{
}
.forum2 tr td.legend div{
    float:left;
    font-size:11px;
    padding-left:30px;
    margin-right:10px;
    height:23px;
    width:auto;
    border-right:none;
}

.search{
    border:1px solid black;
}
.search .contenue{
    display:none;
}
.uptodate{
    background:url(../images/forum/forum_unread.gif) 0 0 no-repeat;
    width:23px;
    height:23px;  
    float:left;
}
.needRead{
    background:url(../images/forum/forum_read.gif) 0 0 no-repeat;
    width:23px;
    height:23px;
    float:left;
}
.closed{
    background:url(../images/forum/forum_closed.png) 0 0 no-repeat;
    width:23px;
    height:23px;
    float:left;
}

.accordeon{
    margin:5px 0;
}
.accordeon .nom{
    cursor:pointer;
}


#test{
    color:white;
    text-align: center;
    line-height: 30px;
}

table th{
    background:#1d1d1d;
}
table tr.turn td{
    background:#232323;
}
table tr td{
    background:#353535;
}